<div class="list-banner">
  <h2>Create your list</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <%= simple_form_for(@list) do |f| %>
        <%= f.input :name, placeholder: 'Add a list name' %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
